@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Rammetto+One);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);


* {
  box-sizing: border-box;
}
body {
  color: #576366;
  background: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
h1.name {
  font-family: 'Rammetto One', cursive;
}
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}
h2 {
  color: #404040;
  font-size: 1.6em;
  margin-bottom: 1.25em;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #3b80d1;
}

/* .home a, */
input,
button {
  padding: .5em;
  font-size: .9em;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  border: solid 1px #ccc;
  outline: none;
}
button {
  color: white;
  background: #4188dc;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  border-color: rgba(0,0,0, .1);
}
button.red {
  background: #B22222;
}
.container {
  width: 95%;
  max-width: 780px;
  padding-bottom: 2em;
  margin: 0 auto 2em;
  background: #fff;
  border-radius: .5em;
  box-shadow: 0 3px rgba(0,0,0, .1);
  overflow: hidden;
}
header {
  background: #edeff0;
  margin-bottom: 2em;
}
.main-content {
  padding: 1em 2em;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

.main-nav a {
  font-size: .95em;
  color: #222;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 1em;
  transition: .2s;
}

.main-nav a:hover,
.main-nav .active {
  color: #fff;
  background: #3b80d1;
}

@media (min-width: 0) and (max-width: 768px) {
  body {
    padding-top: .8em;
  }
  .home a {
    border-color: transparent;
  }
  .main-nav a {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
  .main-nav a:hover {
    border-color: rgba(0,0,0, .1);
  }
  .home a,
  input,
  button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }
}

@media (min-width: 769px) {
  body {
    padding-top: 3em;
  }
  .home a {
    border-color: #3b80d1;
  }
  .media img,
  .media > div,
  .media > div {
    width: 85.1%;
    margin-left: 1.5em;
  }

  header,
  .main-nav {
    display: flex;
    flex-wrap: wrap;
  }
  .main-nav a {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    padding: 1.25em 1.5em;
  }
  .main-nav a:hover {
    border-color: rgba(0,0,0, .1);
  }
}

.dropdown {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
}
.dropdown--active{
  margin-bottom: 8em;
}
.dropdown--active .dropdown__content {
  display: block;

}


.projects{
  width: 100%;
  height: 90%;
  justify-content: space-around;
  display: inline-flex;
  flex-wrap: wrap;
}

.project{
  width: 45%;
  border: 8px solid black;
  border-radius: 16px;
  box-sizing: border-box;
  margin-bottom: 1em;
}
.project img{
  width: 90%;
  height:44%;
  border: 4px solid #4d4e4f;
  box-sizing: border-box;

}

.mainh1{
  padding: .5em;
  background-color: #36454f;
  color: white;
}
.projecth1{

}

.techList {
	position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  text-transform: uppercase;
  color: #666;
}

.techList li {
	position: absolute;
  top: 0;
  left: 4em;
}

.html5 {
  font-weight: 700;
  letter-spacing: -.05em;
  -webkit-transform:
  		scale(7.5, 7.8)
 			translate(1.18em, .68em);
  -moz-transform:
    	scale(7.5, 7.8)
 			translate(1.18em, .68em);
}

.express {
  letter-spacing: -.04em;
  font-weight: 400;
	-webkit-transform:
    	scale(1.4)
    	rotate(90deg)
    	translate(3.88em, -13.2em);
  -moz-transform:
    	scale(1.4)
    	rotate(90deg)
    	translate(3.88em, -13.2em);
}

/* .css {
  letter-spacing: -.05em;
  font-weight: 300;
	-webkit-transform:
    	scale(1.4, 1.33)
    	rotate(90deg)
    	translate(4.1em, -18.0em);
  -moz-transform:
    	scale(1.4, 1.33)
    	rotate(90deg)
    	translate(4.1em, -18.0em);
} */

 .ruby {
  font-weight: 300;
  letter-spacing: -.03em;
  word-spacing: .3em;
  -webkit-transform:
    	scale(2)
    	translate(2.12em, 5.14em);
  -moz-transform:
    	scale(2)
    	translate(2.12em, 5.14em);
}

.rubyrails {
  font-weight: 400;
  letter-spacing: -.04em;
  -webkit-transform:
    	scale(2.85, 3)
      translate(7.14em, 3.55em);
  -moz-transform:
      scale(2.85, 3)
      translate(7.14em, 3.55em);
}

.react {
  letter-spacing: -0.01em;
  font-weight: 700;
	-webkit-transform:
    	scale(2.4, 2.3)
    	rotate(90deg)
    	translate(6em, -5.3em);
  -moz-transform:
    	scale(2.4, 2.3)
    	rotate(90deg)
    	translate(6em, -5.8em);
}

.javascript {
  letter-spacing: .01em;
  font-weight: 700;
	-webkit-transform:
    	scale(6.8, 6.75)
    	rotate(90deg)
    	translate(1.32em, -4.9em);
  -moz-transform:
    	scale(6.8, 6.75)
    	rotate(90deg)
    	translate(1.32em, -4.9em);
}

.nodejs {
  letter-spacing: 0.045em;
  font-weight: 700;
	-webkit-transform:
    	scale(3.88, 3.8)
    	translate(5.42em, 3.72em);
  -moz-transform:
    	scale(3.88, 3.8)
    	translate(5.42em, 3.72em);
}

.jquery {
  font-weight: 700;
  letter-spacing: -.010em;
  -webkit-transform:
    	scale(1.85, 1.9)
      translate(1.86em, 6.5em);
  -moz-transform:
      scale(1.85, 1.9)
      translate(1.86em, 6.5em);
}

.ejs {
  font-weight: 300;
  letter-spacing: -0.05em;
  -webkit-transform:
    	scale(2.75, 3)
      translate(1.72em, 4.95em);
  -moz-transform:
      scale(2.75, 3)
      translate(1.72em, 4.95em);
}

.json {
  font-weight: 300;
  letter-spacing: -0.07em;
  -webkit-transform:
    	scale(3.9, 4)
      translate(6.05em, .95em);
  -moz-transform:
      scale(3.9, 4)
      translate(6.05em, .95em);
}

.postgres {
  font-weight: 700;
  letter-spacing: 0.1em;
  word-spacing: .2em;
  -webkit-transform:
  		scale(2)
      translate(2.28em, 8.58em);
  -moz-transform:
      scale(2)
      translate(2.28em, 8.58em);
}

.sql {
  font-weight: 300;
  letter-spacing: 0em;
  word-spacing: .1em;
  -webkit-transform:
    	scale(2)
      translate(12.7em, 8.6em);
  -moz-transform:
      scale(2)
      translate(12.7em, 8.6em);
}

.css {
  color: #ee5d29;
  font-weight: 700;
  letter-spacing: -.03em;
  -webkit-transform:
    	scale(3.4)
      translate(7.03em, 2.15em);
  -moz-transform:
      scale(3.4)
      translate(7.03em, 2.15em);
}
.git {
  color: #ee5d29;
  font-weight: 700;
  letter-spacing: -.03em;
  -webkit-transform:
    	scale(1.8)
      translate(9.95em, 9.55em);
  -moz-transform:
      scale(1.8)
      translate(9.95em, 9.55em);
}
.github {
  color: #ee5d29;
  font-weight: 700;
  letter-spacing: -.03em;
  -webkit-transform:
    	scale(1.8)
      translate(9.95em, 9.55em);
  -moz-transform:
      scale(1.8)
      translate(9.95em, 9.55em);
}

.skills {
  color: #ee5d29;
  font-weight: 700;
  letter-spacing: -.03em;
  -webkit-transform:
    	scale(1.8)
      translate(9.95em, 9.55em);
  -moz-transform:
      scale(1.8)
      translate(9.95em, 9.55em);
}
